node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
.env.*.local
*.local
*.log
**/dist/
**/build/
**/.vite/
**/.next/
**/coverage/
**/.turbo/
**/logs/
**/tmp/
**/pids/
**/uploads/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
**/tsconfig.tsbuildinfo
**/docker-volume/
**/.cache/
**/.eslintcache
**/.parcel-cache/
**/.vercel/
**/.output/
**/turbo/
**/.nx/
